.contenitore-info{
    display: flex;
    align-items: center;
}



p{
    display: inline;
}

input {
   margin-left: 3px;
   margin-right: 3px;
}

textarea {
    height: 15px;
    width: 169px;
    display: inline;
    margin-left: 3px;
    overflow: hidden;
    
}

#articolo{
    margin-left: 5px;
}

.container-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

